APP_DOMAIN=trace.jia4u.de
ACME_EMAIL=you@example.com

MYSQL_ROOT_PASSWORD=please-change-this-mysql-root-password

JWT_SECRET=please-change-this-jwt-secret-at-least-32-bytes-long
JWT_EXPIRE_MILLIS=86400000

DRUID_LOGIN_USERNAME=admin
DRUID_LOGIN_PASSWORD=please-change-this-druid-password

LOG_LEVEL_QUALITY_TRACE=info
JAVA_OPTS=-Xms256m -Xmx512m

